#form {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    display: block;
    border-radius: 3px;
    padding: 4px 8px;
    font-weight: bold;
    box-sizing: border-box;
    position: relative;
    top: -2px;
    left: -2px;
    margin: 8px 6px 10px 6px;
}

#submit {
    color: white;
    background-color: #59BE96;
    padding: 5px 20px;
    box-shadow: 5px 5px #888888
}

#lyrics {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    /* margin: auto; */
    width: 800px;
    color: white;
    background-color: white;
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 4px;
}

body {
    text-align: center;
    background-color: #fcff88;
    font-family: serif;
    font-weight: normal;
}

h1 {
    color: black;
    font-size: 45px;
    font-family: 'Inconsolata', monospace;
    margin-top: 35px;
    margin-bottom: 32px;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 0px; 
    text-shadow: 2px 2px 0 #7A7A7A;
}

h6 {
    color: #7c795d;
    font-size: 24px;
    margin: 0;
    font-weight: normal;
}

p {
    display: block;
    /* margin-block-start: 1em;
    margin-block-end: 1em; */
    color:black;
    font-size: 1.2em;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

